/*-----------------------------*/

:root {
  --board-size: calc(500px - 10px);
}

::-webkit-scrollbar {
  display: none;
}
/*-----------------------------Pantalla de inicio-----------------------------*/

.mycol-izq {
  background-color: blueviolet;
  height: 100vh;
  background-image: url(../recursos/alliance.background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale();
}

.mycol-dch {
  background-color: #000;
  height: 100vh;
  background-image: url(../recursos/horde.background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale();
}
.mycol-dch:hover {
  filter: none;
  cursor: pointer;
}
.mycol-izq:hover {
  filter: none;
  cursor: pointer;
}

/*-----------------------------botones menu-----------------------------*/

#playerone {
  background-color: #141414;
  color: #fff;
  padding: 30px;
  border-radius: 20px;
  height: 200px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.a {
  height: 100vh;
}

.my-button {
  margin-top: 30px;
}

.start {
  display: flex;
  height: 40px;
  width: 120px;
  background-color: red;
  color: #fff;
  border: solid darkred;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
}

a {
  text-decoration: none;
}

/*-----------------------------Bandos-----------------------------*/
#bando {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.bando-interface {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

#horde {
  height: 100vh;
}

#alliance {
  height: 100vh;
}
/*-----------------------------Main page game-----------------------------*/

.container-fluid {
  height: 100vh;
}

.contain-myvideo {
  position: absolute;
  top: 0;
  left: 0;
}

.myvideo {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.mygame-izq {
  background-color: #000;
}

.mygame-dch {
  background-color: #000;
}

.tablero {
  background-color: rgba(0, 0, 0, 0.7);
  height: var(--board-size);
  width: var(--board-size);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  flex-wrap: wrap;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-collapse: separate;
  padding: 20px;
}

.casilla {
  display: flex;
  outline: solid rgba(255, 255, 255, 0.7);
}
/*-----------------------------User interface-----------------------------*/
.card {
  margin-top: 20px;
}
.user-one {
  background-color: rgba(255, 255, 255, 0.9);
}
.user-two {
  background-color: rgba(255, 255, 255, 0.9);
}
